		<div class="inner_content">
		<h1 class="announcement">{$lang.announcement}</h1>
        <p>17/11/2014 - 修正已知問題。</p>
        <p>29/04/2014 - 網站正受到DDOS攻擊，有機會出現無法連線的情況！ <a href="upload/2014/04/29/041214_c38fc3ba97e79d4dc14133597a0b7033.PNG" target="_blank">&lt;&nbsp;Log&nbsp;&gt;</a></p>
        <p>04/04/2014 - 經技術人員搶修後，攻擊已被控制。</p>
        <p>03/04/2014 - 網站正受到DDOS攻擊，有機會出現無法連線的情況！</p>
        <p>01/09/2013 - Chrome 插件正式開放下載 <a href="chrome/eImage.crx">&lt;&nbsp;Download&nbsp;&gt;</a></p>
		</div>